
.mytitle{
    background-color: beige;
}
h3{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 3em;
    color: #41E3CF;
}
.w3-allerta{
    font-family: "Allerta Stencil", Sans-serif;
  }
  .gifsearch{
      text-align: center;
      border-radius: 1rem;
      border: none;
      margin: 3px;
      background-color: #41E3CF;
      cursor: pointer;
      width: 10%;
  }
  .gifinput{
      margin: 1%;
    text-align: center;
    border-radius: 1rem;
    width: 30%;
    transition: 6;
  }
  .gifinput:hover{
    border: 1px #41E3CF;
    transition: 10;
  }
  img {
    width: auto; /* You can set the dimensions to whatever you want */
    height: 200px;
    object-fit: cover;
    padding: 5px;
    
}
